body {
  margin: 0px;
  box-sizing: border-box;
  background:#222 !important;

}
body * {
  box-sizing: border-box;

  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl {
  clear: both;
}
.over {
  overflow: hidden;
}
.bold {
  font-weight: bold;
}
.hid {
  display: none;
}
.sho {
  display: block;
}

ul,
ol,
ul > li,
ol > li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.wide10 {
  width: 9.99%;
}
.wide15 {
  width: 14.99%;
}
.wide20 {
  width: 19.99%;
}
.wide30 {
  width: 29.99%;
}
.wide35 {
  width: 34.99%;
}
.wide40 {
  width: 39.99%;
}
.wide45 {
  width: 44.99%;
}
.wide50 {
  width: 49.99%;
}
.wide55 {
  width: 54.99%;
}
.wide60 {
  width: 59.99%;
}
.wide65 {
  width: 64.99%;
}
.wide70 {
  width: 69.99%;
}
.wide80 {
  width: 79.99%;
}
.wide90 {
  width: 89.99%;
}
.wide100 {
  width: 100%;
}

.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt75 {
  margin-top: 75px;
}

.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}

.ml30 {
  margin-left: 30px;
}

.pl1 {
  padding-left: 1%;
}
.pl2 {
  padding-left: 2%;
}
.pl4 {
  padding-left: 4%;
}
.pl20 {
  padding-left: 20px;
}
.pl40 {
  padding-left: 40px;
}
.pr10 {
  padding-right: 10px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 20px;
}

.px20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb100 {
  padding-bottom: 100px;
}

/* flex start */
ul,
ol,
.flex {
  display: flex;
}

ul,
.flex.col {
  flex-direction: column;
  justify-content: flex-start;
}
ul > li.flex {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

ol {
  flex-direction: row;
}

.fx1 {
  flex: 1;
}
.fx2 {
  flex: 2;
}
.fx3 {
  flex: 3;
}
.fx4 {
  flex: 4;
}

.flex.center,
.flex.col.center {
  justify-content: center;
  justify-items: center;
}
.flexaround,
.flex-around {
  justify-content: space-around;
}
.flexbetween,
.flex-between {
  justify-content: space-between;
}
.flexwrap {
  flex-wrap: wrap;
}
/* flex end */

.max-width-80vw {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.space-between {
  justify-content: space-between;
}

.rel {
  position: relative;
}

